{% extends 'base.html.twig' %}

{% block title %}profil de {{ user.nom }}{% endblock %}

{% block body %}

<div class="w-50 mx auto p-2 container half-page bg-secondary text-white rounded-2">
     <h1 class="h3 font-weight-normal mb-4">Mon profil</h1>
        {% for messageFlash in app.flashes('success') %}
            <div class="alert alert-success">
                {{ messageFlash }}
            </div>
        {% endfor %}
        <ul>
            <li><p class="mb-3"> Nom: {{ user.nom }}</p></li>
            <li><p class="mb-3"> email: {{ user.email }}</p></li>
            <li><p class="mb-3"> Photo de profil:</p>
            <p><img src="{{ asset(user.avatar) }}" alt="{{ user.nom }}" style="width: 300px; height: 300px"></p></li>
        </ul>
        <div class="text-end">
            <a href="{{ path('app_user_profile_update', {id:app.user.id}) }}" class="btn btn-primary">Modifier mon profil</a>
            <form action="{{ path('app_delete_profil') }}" method="post" onsubmit="return confirm('Êtes-vous certain de vouloir nous quitter?')">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete_user') }}">
                <button type"submit" class="btn btn-danger">Supprimer mon compte</button>
            </form>
        </div>
    </div>

{% endblock %}
